<html>
  <head>
    <style>
    p, h1, form {
      text-align: center;
    }
    </style>
  </head>
  <body bgcolor=<%= background %>>
    <h1>How many tries will it take you?</h1>
    <form>
      <input type = 'text' name= 'guess' />
      <input type = 'submit' value= "So you think you know?" />
    </form>
      <h1> your guess is <%= message %> </h1>
  </body>
</html>
